body {
    color: #22221a;
}
h2 {
    font-size: 2.2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
p {
    margin-top: .5rem;
    margin-bottom: .5rem;
}
button {
    border-radius: 0;
    border: 2px solid black;
    background-color: white;
    padding: .5rem 1rem;
    font-weight: bold;
}
.editable-showing {
    box-sizing: border-box;
    border: .15rem dashed #1d70d6;
    margin-top: -.15rem;
    margin-left: -.15rem;
}
.table {
    border: 1px solid #efefef;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.table thead {
    font-weight: bold;
}
.table tr:nth-of-type(2) {
    background: #efefef;
}
.table td {
    padding: 0.5rem;
}
.table td:not(:last-of-type) {
    padding-right: 1.5rem;
}
.editable-h1 {
    display: inline-block;
}
.editable-h1 > div {
    position: relative;
}
.editable-h1 button {
    position: absolute;
    right: -1rem;
    top: 0;
}
.editable-h1.being-edited button {
    position: relative;
}