body {
    color: #22221a;
}
h2 {
    font-size: 2.2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
p {
    margin-top: .5rem;
    margin-bottom: .5rem;
}
a {
    text-decoration: none;
}
th {
    font-weight: bold;
    padding: 0.5rem;
}
th:not(:last-of-type) {
    padding-right: 1.5rem;
}
button {
    border-radius: 0;
    border: 2px solid black;
    background-color: white;
    padding: .5rem 1rem;
    font-weight: bold;
}
.editable-showing {
    box-sizing: border-box;
    border: .15rem dashed #1d70d6;
    padding: .5rem;
    margin-top: -.65rem;
    margin-left: -.65rem;
}
.editable-h1 > div {
    position: relative;
}
.editable-h1 button {
    position: absolute;
    right: -1rem;
    top: 0;
}
.editable-h1.being-edited button {
    position: relative;
}
.being-edited input[type=text] {
    font-size: 2.5rem;
}