body {
    margin: 0;
}
.constraint {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
.top-bar {
    background: #333;
    padding: .5rem;
}
.top-bar-alignment {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 2rem;
}
.top-bar a, .top-bar a:visited {
    color: white;
}
.editable-h1 {
    display: inline-block;
}
.editable-h1 > div {
    position: relative;
}
.editable-h1 button {
    position: absolute;
    right: 0;
    top: 0;
}
.editable-h1.being-edited button {
    position: relative;
}